<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cree SRO ⇔ Syllabics converter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A standard Roman orthography (SRO) to syllabics converter for Plains Cree">
  <link rel="stylesheet" href="{{ 'styles.css' | static_url }}">
  <script src="{{ 'reconnecting-websocket.min.js' | static_url }}"></script>
  <script src="{{ 'main.js' | static_url }}"></script>
  <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | static_url }}">
  <link rel="icon" type="image/png" href="{{ 'favicon-16.png' | static_url }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ 'favicon-32.png' | static_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'favicon-96.png' | static_url }}" sizes="96x96">
</head>
<body>
  <main>
    <h1>SRO ⇔ Syllabics converter</h1>
    <form>
      <div class="box box-sro">
        <label for="sro"> <abbr title="standard Roman orthography">SRO</abbr> </label>
        <textarea id="sro" name="sro" lang="crk"
          autofocus autocomplete=off>tân'si</textarea>
        <script>getDefaultTextareaValue('sro')</script>
      </div>

      <div class="box box-sro">
        <label for="syl"> Syllabics </label>
        <textarea id="syl" name="syl" lang="crk"
          autocomplete=off>ᑖᓂᓯ</textarea>
        <script>getDefaultTextareaValue('syl')</script>
      </div>

      <details>
        <summary>Settings</summary>

        <fieldset class="extra-controls">
          <label>
            <input type="radio" name="macrons" value="false" checked>
            Produce circumflexes (âêîô)
          </label>

          <label>
            <input type="radio" name="macrons" value="true">
            Produce macrons (āēīō)
          </label>
        </fieldset>
      </details>
    </form>

  </main>

  <footer>
    {% macro library() %}<code>crk_orthography</code>{% endmacro %}
    <h2> What is this? </h2>
    <p> This is a <strong>standard Roman orthography (SRO)</strong>
    to <strong>syllabics</strong> converter for <strong>Plains Cree</strong>.
    Type the text you want to convert in the appropriately labelled box, and
    the result should appear in the other box automatically as you type!  The
    converter is bidirectional: it can go from SRO to syllabics and back
    again. It supports both circumflexes (âêîô) and macrons (āēīō). It also
    supports the special
    <a href="https://crk-orthography.readthedocs.io/en/stable/glossary.html#term-sandhi">Sandhi orthographical rule</a>.

    <p> Behind the scenes, this is a demo of the
    <a href="https://pypi.org/project/crk-orthography/">{{ library() }} Python library</a>,
    which is
    <a href="https://opensource.com/resources/what-open-source">free and open source</a>,
    and <a href="https://github.com/eddieantonio/crk_orthography">available on GitHub</a>.
    You can incorporate {{ library() }} into your own Python projects by
    installing it with pip: <code>pip install crk_orthography</code>.

    The version of the {{ library() }} library on demo here is
    <strong>{{ library_version }}</strong>.

  </footer>
</body>
</html>
